# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
*venv/
ENV/
env.bak/
venv.bak/
*.env
*.env.*

# Jupyter Notebook
.ipynb_checkpoints

# DBT
dbt_modules/
dbt_packages/
logs/
target/
dbt_packages/
dbt_modules/
manifest.json
run_results.json
profiles.yml

# Docker
*.log
docker-compose.override.yml
.docker/
.dockerignore

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# Misc
*.swp
*.swo
*.bak
*.tmp